
header{
   
width: 1440px;
height: 100px;
background: #D9D9D9;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-left: 29px;
    width: 100px;
height: 30px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;

color: #FF0000;
}
a{
    text-decoration: none;
    color: black;
}
.fr{
    background-color: blue;
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    margin-left: 590px;
}
h1{
    width: 1213px;
height: 121px;
margin: 150px;
margin-top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 121px;
}
.t{
    width: 1440px;
height: 223px;
left: 0px;
top: 795px;

background: #D9D9D9;
}
.y{
    display: flex;
    list-style: none;
}
.er{
    width: 228px;
height: 122px;
margin-left: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;
text-align: center;

color: #000000;
}

.block{
    display: flex;
}